header {
  position: fixed;
  width: 100%;
  height: 55px;
  border-bottom: 5px solid #FFD7D7;
  z-index: 1000;
  top: 0;
  background-color: white;
}

.logo img{
  position: fixed;
  width: 155px;
  height: 25px;
  object-fit: cover;
  margin-left: 1em;
  margin-top: 1em;
  top: 1px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.loginIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-align: center;
  color: black;
  outline-style: none;
  margin-left: auto;
  padding-right: 2em;
}

@media screen and (max-width: 600px) {
  .loginIcon {
    display: none;
  }
}
  
